

.welcome {
  &__datepicker {
    width: 100%;
    max-width: 230px;
    border: 1px solid #eb4e3b;
    background: transparent;
    padding: 7px 7px;
    border-radius: 5px;
    color: #eb4e3b;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }

  ::-webkit-input-placeholder {
    color: #eb4e3b;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  ::-moz-placeholder {
    color: #eb4e3b;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  :-ms-input-placeholder {
    color: #eb4e3b;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  :-moz-placeholder {
    color: #eb4e3b;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  .vdp-datepicker {
    margin-bottom: 3rem;

    > div {
      display: block;
      margin: 0 auto;
    }

    &__calendar {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .vdp-datepicker__calendar {
    width: 100%;
    max-width: 450px;

    .cell:not(.blank):not(.disabled).day:hover {
      border: 1px solid #eb4e3b;
    }

    .cell {
      height: 45px;

      &.selected {
        background: #eb4e3b;

        &:hover {
          background: #eb4e3b;
          opacity: .8;
        }
      }
    }
  }
}
